.outer {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000; /* Ensures it's above other elements */
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: heartbeat 2.9s infinite; /* Heartbeat animation */
  }
  
  .chromelogo img {
    width: 50px;
    height: 50px;
  }
  
  .text h4 {
    margin-left: 10px;
    font-size: 14px;
    color: #333;
  }
  
  .outer:hover {
    transform: scale(1.1); /* Makes it pop out a bit */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adds more shadow for a lifted effect */
    background-color: #009963;
    color: white;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    30% {
      transform: scale(1.1);
    }
    60% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  @media (max-width: 768px) {
    .outer {
      bottom: 10px;
      right: 10px;
      padding: 8px;
    }
  
    .chromelogo img {
      width: 40px;
      height: 40px;
    }
  
    .text h4 {
      font-size: 12px;
    }
  }
  