.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    
  }
  
  .heart {
    color: red;
    animation: pulse 1s infinite;
  }

  .footer a{
    color: #009963;
    font-weight: bolder;
    text-decoration: none;
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
  