.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: black;
    color: white;
    border-bottom: 3px solid #e0e0e0;
  }
  
  .logo img {
    height: 80px;
    width: 200px;
  }
  
  .lists {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  .lists li {
    margin: 0 15px;
    cursor: pointer;
    background-color: black;
    font-weight: bold;
    padding: 10px;
  }
  
  .lists li:hover {
    color: antiquewhite;
    background-color: #009963;
    padding: 10px;
    border-radius: 11px;
    font-weight: bold;
    transform: scale(1.05);
  }

  .lists a{
    color: white;
  }

  .gitlogo{
    height: 25px;
    width: 25px;
  }
  

  /* Media queries for responsiveness */
@media (max-width: 768px) {
  .header_main {
    flex-direction: column;
    padding: 20px;
  }

  .logo img {
    height: 60px;
    width: 150px;
  }

  .lists {
    flex-direction: column;
    align-items: center;
  }

  .lists li {
    margin: 10px 0;
  }
}

@media (max-width: 480px) {
  .header_main {
    padding: 10px 20px;
    flex-direction: row;
  }

  .logo img {
    height: 50px;
    width: 120px;
  }

  .lists {
    flex-direction: column;
  }

  .lists li {
    margin: 5px 0;
    padding: 8px;
  }

  .gitlogo {
    height: 20px;
    width: 20px;
  }
}